[submodule "wallet"]
	path = wallet
	url = https://github.com/wiesche89/grin-wallet.git
	branch = atomic_swaps
[submodule "tor/webtunnel"]
	path = tor/webtunnel
	url = https://code.gri.mw/WEB/webtunnel
	branch = grim
